@model SocietyProV2.Domain.Entities.Agendar
@using SocietyProV2.Domain.Entities


@{
    ViewData["Title"] = "Novo agendamento";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Novo Agendamento</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        <form asp-action="Create" class="form-horizontal form-label-left">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Campo</label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select id="IDCAMPO" name="IDCAMPO"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaCampo,"ID", "DESCRICAO"))">
                                        <option value="">Selecione um campo item</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="DATA" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="DATA" class="form-control col-md-7 col-xs-12" />
                                </div>

                                <span asp-validation-for="DATA" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TIPOHORARIO" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <select asp-for="TIPOHORARIO"
                                            class="form-control"
                                            asp-items="@(new SelectList(Enum.GetValues(typeof(TipoHorario))))">
                                        <option value="">Selecione o tipo de horário</option>
                                    </select>
                                </div>

                                <span asp-validation-for="TIPOHORARIO" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TIPO" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <select asp-for="TIPO"
                                            class="form-control"
                                            asp-items="@(new SelectList(Enum.GetValues(typeof(TipoAgendamento))))">
                                        <option value="">Selecione o tipo de agendamento</option>
                                    </select>
                                </div>

                                <span asp-validation-for="TIPO" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IDHORARIO" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="IDHORARIO" class="form-control col-md-7 col-xs-12" />
                                </div>

                                <span asp-validation-for="IDHORARIO" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IDPESSOA" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select asp-for="IDPESSOA"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaPessoa,"ID", "NOME"))">
                                        <option value="">Selecione uma pessoa</option>
                                    </select>
                                </div>

                                <span asp-validation-for="IDPESSOA" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CLIENTENAOCADASTRADO" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input asp-for="CLIENTENAOCADASTRADO" class="form-control col-md-7 col-xs-12" />
                                </div>
                                <span asp-validation-for="CLIENTENAOCADASTRADO" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="TELEFONE" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="TELEFONE" class="form-control col-md-7 col-xs-12" data-inputmask="'mask' : '(99) 9999-9999'" />
                                </div>

                                <span asp-validation-for="TELEFONE" class="text-danger"></span>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Agendar")'">Voltar</button>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
