@model IEnumerable<SocietyProV2.Domain.Entities.Campeonato>

@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <a asp-action="Create">Novo Campeonato</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.sNome)</th>
                            <th>@Html.DisplayNameFor(model => model.iTipoCampeonato)</th>
                            <th>@Html.DisplayNameFor(model => model.Campo.NOME)</th>
                            <th>@Html.DisplayNameFor(model => model.dDataInicio)</th>
                            <th>@Html.DisplayNameFor(model => model.dDataFim)</th>
                            <th>@Html.DisplayNameFor(model => model.bPreInscricao)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sNome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.iTipoCampeonato)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campo.NOME)
                                </td>
                                <td>
                                    @Html.ValueFor(modelItem => item.dDataInicio, "{0:dd/MM/yyyy}")
                                </td>
                                <td>
                                    @Html.ValueFor(modelItem => item.dDataFim, "{0:dd/MM/yyyy}")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.bPreInscricao)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Campeonato" , new { id = item.IDCampeonato })"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a> |
                                    <a href="@Url.Action("Delete", "Campeonato" , new { id = item.IDCampeonato })"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





