@model IEnumerable<SocietyProV2.Domain.Entities.PreInscricao>

@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <a asp-action="Create" asp-route-id="@ViewBag.idCampeonato">Nova Pré-Inscrição</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Time.NOME)</th>
                            <th>@Html.DisplayNameFor(model => model.Time.Pessoa.NOME)</th>
                            <th>@Html.DisplayNameFor(model => model.Time.Pessoa.TELEFONE)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time.Pessoa.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time.Pessoa.TELEFONE)
                        </td>
                        <td>
                            <a href="@Url.Action("Delete", "PreInscricao" , new { id = item.ID })"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        </td>
                    </tr>
        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-12 col-sm-6 col-xs-12">
                <a asp-action="IndexCampeonato" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>

</div>





