@model IEnumerable<SocietyProV2.Domain.Entities.HorarioExtra>

@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @Vereyon.Web.FlashMessageHtmlHelper.RenderFlashMessages(Html)
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <a asp-action="Create">Novo Horário Extra</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CampoItem.Campo.NOME)</th>
                            <th>@Html.DisplayNameFor(model => model.CampoItem.DESCRICAO)</th>
                            <th>@Html.DisplayNameFor(model => model.DATA)</th>
                            <th>@Html.DisplayNameFor(model => model.HORARIO)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CampoItem.Campo.NOME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CampoItem.DESCRICAO)
                                </td>
                                <td>
                                    @Html.ValueFor(modelItem => item.DATA, "{0:dd/MM/yyyy}")

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HORARIO)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "HorarioExtra" , new { id = item.ID })"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a> |
                                    <a href="@Url.Action("Delete", "HorarioExtra" , new { id = item.ID })"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





