@model IEnumerable<SocietyProV2.Domain.Entities.Campo>

    @{
    ViewData["Title"] = "Index";
    }

    <div class="right_col" role="main">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <a asp-action="Create">Novo Campo</a></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.NOME)</th>
                                <th>@Html.DisplayNameFor(model => model.ENDERECO)</th>
                                <th>@Html.DisplayNameFor(model => model.VALOR)</th>
                                <th>@Html.DisplayNameFor(model => model.VALORMENSAL)</th>
                                <th>@Html.DisplayNameFor(model => model.AGENDAMENTO)</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NOME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENDERECO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALOR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALORMENSAL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AGENDAMENTO)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Campo" , new { id = item.ID })"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a> |
                            <a href="@Url.Action("Delete", "Campo" , new { id = item.ID })"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a> |
                            <a href="@Url.Action("Details", "Campo" , new { id = item.ID  })"><i class="fa fa-info fa-lg" aria-hidden="true"></i></a>

                            @*<span class="fa-stack fa-lg">
                        <i class="fa fa-camera fa-stack-1x text-success"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>*@
                        </td>
                    </tr>
    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





