@model IEnumerable<SocietyProV2.Domain.Entities.Cartao>

@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cartões do Campeonato - @ViewBag.Campeonato.sNome</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IDJogadorSumula)</th>
                            <th>@Html.DisplayNameFor(model => model.iTipoCartao)</th>
                            @*<th>@Html.DisplayNameFor(model => model.iQntGols2)</th>
                            <th>@Html.DisplayNameFor(model => model.Inscricao1.Time.NOME)</th>
                            <th>@Html.DisplayNameFor(model => model.dDataPartida)</th>
                            <th>@Html.DisplayNameFor(model => model.iRodada)</th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IDJogadorSumula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.iTipoCartao)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.iQntGols2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Inscricao1.Time.NOME)
                                </td>
                                <td>
                                    @Html.ValueFor(modelItem => item.dDataPartida, "{0:dd/MM/yyyy}") | @Html.DisplayFor(modelItem => item.sHoraPartida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.iRodada)
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <a asp-action="Index" asp-controller="Campeonato" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</div>





